<div class="content">
    <div class="container">
        <div class="menu">

            <div class="menu-category">
                <span class="category__title">Category1</span>
                <span>Go to Category1</span>
            </div>
            <hr>

            <div class="menu-items">
                <div class="menu-item">
                    <img src="assets/img/section-catalog/1.png" alt="menu-image" class="menu-item__image">

                    <div class="menu-item__info">
                        <span class="menu-item__title">Pizza Rancho</span>
                        <mat-icon>info</mat-icon>
                    </div>


                    <div class="menu-item-end">
                        <span class="item__price">{{12 | currency:"USD"}}</span>
                        <mat-icon>add_shopping_cart</mat-icon>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>