<div class="content">
    <div class="container">
        <div class="content__text">
            <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsam quibusdam illo natus neque odio
                doloremque laudantium accusamus, quaerat quidem ad. Obcaecati aliquam quidem, non iste amet ut ea
                illo, maiores modi, omnis laudantium vero minus magni eius nihil ipsam. Animi nobis qui asperiores
                sequi velit sit dolores atque itaque, voluptatem commodi quis in debitis consequuntur veritatis
                cupiditate, iusto sunt excepturi, nesciunt impedit sint repudiandae voluptatum necessitatibus quas!
                Enim voluptatibus beatae consequuntur. Error sapiente, illum animi unde corrupti soluta voluptates
                ratione molestiae accusantium cumque incidunt, molestias, ut in dignissimos vel impedit. Voluptates,
                maxime hic quaerat ea fuga asperiores pariatur omnis sed! Accusantium non, maxime ea alias ex rerum
                amet enim quisquam cum, dicta sit obcaecati corporis, fugit necessitatibus! Architecto ea
                blanditiis, cum enim et fugiat, voluptates expedita ut accusamus reiciendis adipisci debitis quidem
                suscipit voluptatibus aspernatur repudiandae fugit libero tempora ipsam esse voluptatem vitae
                asperiores. Consequatur sequi, tempora vitae explicabo minima ex quasi nisi voluptate iure!
                Perferendis, corrupti! Omnis, laboriosam! Nam at deserunt eaque delectus dicta esse totam ducimus
                corrupti minima voluptatem sed illo quam, nisi quidem quaerat nulla amet atque, temporibus magni
                blanditiis. Eveniet doloribus veritatis odit a adipisci! Dolor molestiae enim praesentium nihil
                minima voluptatibus labore aspernatur fugit doloremque odio doloribus, commodi qui eos temporibus
                maxime mollitia repellendus! Labore quis fugit eius eligendi quisquam. Dolorum harum nemo saepe
                ullam excepturi vitae velit porro voluptas, nesciunt consequuntur repellendus facere laborum
                doloremque minus iusto, iste iure sint numquam ut ex esse veritatis! Debitis officia labore dolores
                voluptas eaque laborum velit quas ipsam repellat maxime cum, neque placeat blanditiis ducimus,
                dolore quae! Tempore explicabo incidunt repellat, ab quo laudantium debitis quibusdam ea libero ipsa
                dignissimos, soluta error vero. Earum quam ab a doloribus et quasi repellendus! Voluptatibus
                expedita veritatis deserunt qui recusandae laudantium pariatur, ab modi cumque fugiat quisquam
                veniam excepturi, quae nostrum eum explicabo eaque magni. Harum numquam culpa voluptatum incidunt
                magni eius laudantium optio esse facere, dolores maiores, deserunt veritatis sit cumque, officiis
                rem? Iure nihil cupiditate neque sint, laborum hic dicta sapiente necessitatibus molestiae vel
                repudiandae. Corrupti nostrum culpa accusantium error, sequi officia, aut vitae dignissimos ipsum
                eaque ratione perferendis dolore, et eligendi. Consectetur quae eum reiciendis repudiandae minus, ex
                omnis labore aperiam illo temporibus! Laudantium, recusandae doloremque voluptas repellat nam
                voluptatum dolores illum inventore eveniet mollitia, tempora repudiandae? Dolor blanditiis
                repellendus tempora unde fugiat deserunt dolorem ipsa harum assumenda fugit in temporibus excepturi,
                porro, doloribus cupiditate sed eaque ipsam quo magnam facilis perspiciatis molestias consequatur
                numquam voluptatum. Dolorem, unde debitis. Et, non consectetur at doloremque aut placeat quia
                dolorem reprehenderit odit ipsum sed quidem autem iusto? Cupiditate doloribus, sint, debitis ipsum
                architecto aspernatur quam cum voluptate consequatur minus accusantium commodi optio, aut numquam
                veritatis rerum ad enim vel quibusdam impedit nobis quasi. Nisi, quia minima assumenda quam quaerat
                repellendus porro. Temporibus aperiam veniam rem, provident mollitia molestias voluptatem. Quibusdam
                architecto excepturi tenetur nobis nam odit, obcaecati dolorum, quia reiciendis cumque, aut eius?
                Voluptatibus hic officia quisquam repellendus, excepturi sequi tempora ab, asperiores voluptate eum
                perferendis blanditiis, dolores temporibus.
            </p>
            <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsam quibusdam illo natus neque odio
                doloremque laudantium accusamus, quaerat quidem ad. Obcaecati aliquam quidem, non iste amet ut ea
                illo, maiores modi, omnis laudantium vero minus magni eius nihil ipsam. Animi nobis qui asperiores
                sequi velit sit dolores atque itaque, voluptatem commodi quis in debitis consequuntur veritatis
                cupiditate, iusto sunt excepturi, nesciunt impedit sint repudiandae voluptatum necessitatibus quas!
                Enim voluptatibus beatae consequuntur. Error sapiente, illum animi unde corrupti soluta voluptates
                ratione molestiae accusantium cumque incidunt, molestias, ut in dignissimos vel impedit. Voluptates,
                maxime hic quaerat ea fuga asperiores pariatur omnis sed! Accusantium non, maxime ea alias ex rerum
                amet enim quisquam cum, dicta sit obcaecati corporis, fugit necessitatibus! Architecto ea
                blanditiis, cum enim et fugiat, voluptates expedita ut accusamus reiciendis adipisci debitis quidem
                suscipit voluptatibus aspernatur repudiandae fugit libero tempora ipsam esse voluptatem vitae
                asperiores. Consequatur sequi, tempora vitae explicabo minima ex quasi nisi voluptate iure!
                Perferendis, corrupti! Omnis, laboriosam! Nam at deserunt eaque delectus dicta esse totam ducimus
                corrupti minima voluptatem sed illo quam, nisi quidem quaerat nulla amet atque, temporibus magni
                blanditiis. Eveniet doloribus veritatis odit a adipisci! Dolor molestiae enim praesentium nihil
                minima voluptatibus labore aspernatur fugit doloremque odio doloribus, commodi qui eos temporibus
                maxime mollitia repellendus! Labore quis fugit eius eligendi quisquam. Dolorum harum nemo saepe
                ullam excepturi vitae velit porro voluptas, nesciunt consequuntur repellendus facere laborum
                doloremque minus iusto, iste iure sint numquam ut ex esse veritatis! Debitis officia labore dolores
                voluptas eaque laborum velit quas ipsam repellat maxime cum, neque placeat blanditiis ducimus,
                dolore quae! Tempore explicabo incidunt repellat, ab quo laudantium debitis quibusdam ea libero ipsa
                dignissimos, soluta error vero. Earum quam ab a doloribus et quasi repellendus! Voluptatibus
                expedita veritatis deserunt qui recusandae laudantium pariatur, ab modi cumque fugiat quisquam
                veniam excepturi, quae nostrum eum explicabo eaque magni. Harum numquam culpa voluptatum incidunt
                magni eius laudantium optio esse facere, dolores maiores, deserunt veritatis sit cumque, officiis
                rem? Iure nihil cupiditate neque sint, laborum hic dicta sapiente necessitatibus molestiae vel
                repudiandae. Corrupti nostrum culpa accusantium error, sequi officia, aut vitae dignissimos ipsum
                eaque ratione perferendis dolore, et eligendi. Consectetur quae eum reiciendis repudiandae minus, ex
                omnis labore aperiam illo temporibus! Laudantium, recusandae doloremque voluptas repellat nam
                voluptatum dolores illum inventore eveniet mollitia, tempora repudiandae? Dolor blanditiis
                repellendus tempora unde fugiat deserunt dolorem ipsa harum assumenda fugit in temporibus excepturi,
                porro, doloribus cupiditate sed eaque ipsam quo magnam facilis perspiciatis molestias consequatur
                numquam voluptatum. Dolorem, unde debitis. Et, non consectetur at doloremque aut placeat quia
                dolorem reprehenderit odit ipsum sed quidem autem iusto? Cupiditate doloribus, sint, debitis ipsum
                architecto aspernatur quam cum voluptate consequatur minus accusantium commodi optio, aut numquam
                veritatis rerum ad enim vel quibusdam impedit nobis quasi. Nisi, quia minima assumenda quam quaerat
                repellendus porro. Temporibus aperiam veniam rem, provident mollitia molestias voluptatem. Quibusdam
                architecto excepturi tenetur nobis nam odit, obcaecati dolorum, quia reiciendis cumque, aut eius?
                Voluptatibus hic officia quisquam repellendus, excepturi sequi tempora ab, asperiores voluptate eum
                perferendis blanditiis, dolores temporibus.
            </p>
        </div>
    </div>
</div>