<div class="wrapper">
    <header class="header">
        <div class="container">
            <div class="header__body">
                <a href="#" class="header__logo">
                    <img src="assets/img/common/logo.svg" alt="Header__logo">
                </a>
                <div class="header__burger" [class.active]="burgerMenuOpen" (click)="toggleHamburger()">
                    <span class="burger_middle"></span>
                </div>
                <nav class="header__menu">
                    <ul class="header__list">
                        <li>
                            <a href="#" class="header__link">
                                <span class="header__link-text">
                                    Home
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="header__link">
                                <span class="header__link-text">
                                    Menu
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="header__link">
                                <span class="header__link-text">
                                    About us
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="header__link">
                                <span class="header__link-text">
                                    Contacts
                                </span>
                            </a>
                        </li>
                    </ul>
                </nav>

                <!-- Login -->
                <div class="header__end">
                    <div class="header__login">
                        <a href="#" class="header__login-link">
                            <span class="login-text">
                                <mat-icon class="login-icon">login</mat-icon>
                            </span>
                        </a>
                    </div>

                    <!-- Cart -->
                    <div class="header__cart">
                        <a href="#" class="header__cart-link">
                            <span class="cart-text" [attr.data-before]="3">
                                <mat-icon class="cart-icon">shopping_cart</mat-icon>
                                <div class="cart-menu">
                                    <ul>
                                        <div class="cart-menu__items">
                                            <li class="cart-menu__item" *ngFor="let cart of cartItems;let i=index">
                                                <div class="cart-menu__item-start">
                                                    <span class="cart-menu__item-name">{{cart.name}}</span>
                                                    <mat-icon class="cart-icon__cancel">cancel</mat-icon>
                                                </div>
                                                <div class="cart-menu__item-end">
                                                    <div class="counter">
                                                        <mat-icon class="cart-menu__icon" (click)="Increment(i)">add</mat-icon>
                                                        <div class="cart-item__count">{{cart.quantity}}</div>
                                                        <mat-icon class="cart-menu__icon" (click)="Decrement()">remove</mat-icon>
                                                    </div>
                                                    <div class="cart-item__price">{{cart.price | currency:"USD"}}</div>
                                                </div>
                                                <hr>
                                            </li>
                                        </div>

                                        <div class="cart-menu__footer">
                                            <span class="total-sum">Total: {{160 | currency:"USD"}}</span>

                                            <button class="checkout-btn">Checkout</button>
                                        </div>
                                    </ul>
                                </div>
                            </span>
                        </a>
                    </div>
                </div>

            </div>

        </div>
    </header>
    <!-- BurgerMenu-Start -->
    <nav class="mobile-menu" [class.active]="burgerMenuOpen">
        <ul class="nav-list">
            <li class="nav-item">
                <a href="#" class="nav-link">
                    <mat-icon class="login-icon">home</mat-icon>
                    Home
                </a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">
                    <mat-icon class="login-icon">local_dining</mat-icon>
                    Menu
                </a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">
                    <mat-icon class="login-icon">groups</mat-icon>
                    About us
                </a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">
                    <mat-icon class="login-icon">contacts</mat-icon>
                    Contacts
                </a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">
                    <mat-icon class="login-icon">login</mat-icon>
                    Login
                </a>
            </li>
        </ul>
    </nav>
    <!-- BurgerMenu-End -->




    <div class="content">
        <div class="container">
            <div class="content__text">
                <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsam quibusdam illo natus neque odio
                    doloremque laudantium accusamus, quaerat quidem ad. Obcaecati aliquam quidem, non iste amet ut ea
                    illo, maiores modi, omnis laudantium vero minus magni eius nihil ipsam. Animi nobis qui asperiores
                    sequi velit sit dolores atque itaque, voluptatem commodi quis in debitis consequuntur veritatis
                    cupiditate, iusto sunt excepturi, nesciunt impedit sint repudiandae voluptatum necessitatibus quas!
                    Enim voluptatibus beatae consequuntur. Error sapiente, illum animi unde corrupti soluta voluptates
                    ratione molestiae accusantium cumque incidunt, molestias, ut in dignissimos vel impedit. Voluptates,
                    maxime hic quaerat ea fuga asperiores pariatur omnis sed! Accusantium non, maxime ea alias ex rerum
                    amet enim quisquam cum, dicta sit obcaecati corporis, fugit necessitatibus! Architecto ea
                    blanditiis, cum enim et fugiat, voluptates expedita ut accusamus reiciendis adipisci debitis quidem
                    suscipit voluptatibus aspernatur repudiandae fugit libero tempora ipsam esse voluptatem vitae
                    asperiores. Consequatur sequi, tempora vitae explicabo minima ex quasi nisi voluptate iure!
                    Perferendis, corrupti! Omnis, laboriosam! Nam at deserunt eaque delectus dicta esse totam ducimus
                    corrupti minima voluptatem sed illo quam, nisi quidem quaerat nulla amet atque, temporibus magni
                    blanditiis. Eveniet doloribus veritatis odit a adipisci! Dolor molestiae enim praesentium nihil
                    minima voluptatibus labore aspernatur fugit doloremque odio doloribus, commodi qui eos temporibus
                    maxime mollitia repellendus! Labore quis fugit eius eligendi quisquam. Dolorum harum nemo saepe
                    ullam excepturi vitae velit porro voluptas, nesciunt consequuntur repellendus facere laborum
                    doloremque minus iusto, iste iure sint numquam ut ex esse veritatis! Debitis officia labore dolores
                    voluptas eaque laborum velit quas ipsam repellat maxime cum, neque placeat blanditiis ducimus,
                    dolore quae! Tempore explicabo incidunt repellat, ab quo laudantium debitis quibusdam ea libero ipsa
                    dignissimos, soluta error vero. Earum quam ab a doloribus et quasi repellendus! Voluptatibus
                    expedita veritatis deserunt qui recusandae laudantium pariatur, ab modi cumque fugiat quisquam
                    veniam excepturi, quae nostrum eum explicabo eaque magni. Harum numquam culpa voluptatum incidunt
                    magni eius laudantium optio esse facere, dolores maiores, deserunt veritatis sit cumque, officiis
                    rem? Iure nihil cupiditate neque sint, laborum hic dicta sapiente necessitatibus molestiae vel
                    repudiandae. Corrupti nostrum culpa accusantium error, sequi officia, aut vitae dignissimos ipsum
                    eaque ratione perferendis dolore, et eligendi. Consectetur quae eum reiciendis repudiandae minus, ex
                    omnis labore aperiam illo temporibus! Laudantium, recusandae doloremque voluptas repellat nam
                    voluptatum dolores illum inventore eveniet mollitia, tempora repudiandae? Dolor blanditiis
                    repellendus tempora unde fugiat deserunt dolorem ipsa harum assumenda fugit in temporibus excepturi,
                    porro, doloribus cupiditate sed eaque ipsam quo magnam facilis perspiciatis molestias consequatur
                    numquam voluptatum. Dolorem, unde debitis. Et, non consectetur at doloremque aut placeat quia
                    dolorem reprehenderit odit ipsum sed quidem autem iusto? Cupiditate doloribus, sint, debitis ipsum
                    architecto aspernatur quam cum voluptate consequatur minus accusantium commodi optio, aut numquam
                    veritatis rerum ad enim vel quibusdam impedit nobis quasi. Nisi, quia minima assumenda quam quaerat
                    repellendus porro. Temporibus aperiam veniam rem, provident mollitia molestias voluptatem. Quibusdam
                    architecto excepturi tenetur nobis nam odit, obcaecati dolorum, quia reiciendis cumque, aut eius?
                    Voluptatibus hic officia quisquam repellendus, excepturi sequi tempora ab, asperiores voluptate eum
                    perferendis blanditiis, dolores temporibus.
                </p>
                <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsam quibusdam illo natus neque odio
                    doloremque laudantium accusamus, quaerat quidem ad. Obcaecati aliquam quidem, non iste amet ut ea
                    illo, maiores modi, omnis laudantium vero minus magni eius nihil ipsam. Animi nobis qui asperiores
                    sequi velit sit dolores atque itaque, voluptatem commodi quis in debitis consequuntur veritatis
                    cupiditate, iusto sunt excepturi, nesciunt impedit sint repudiandae voluptatum necessitatibus quas!
                    Enim voluptatibus beatae consequuntur. Error sapiente, illum animi unde corrupti soluta voluptates
                    ratione molestiae accusantium cumque incidunt, molestias, ut in dignissimos vel impedit. Voluptates,
                    maxime hic quaerat ea fuga asperiores pariatur omnis sed! Accusantium non, maxime ea alias ex rerum
                    amet enim quisquam cum, dicta sit obcaecati corporis, fugit necessitatibus! Architecto ea
                    blanditiis, cum enim et fugiat, voluptates expedita ut accusamus reiciendis adipisci debitis quidem
                    suscipit voluptatibus aspernatur repudiandae fugit libero tempora ipsam esse voluptatem vitae
                    asperiores. Consequatur sequi, tempora vitae explicabo minima ex quasi nisi voluptate iure!
                    Perferendis, corrupti! Omnis, laboriosam! Nam at deserunt eaque delectus dicta esse totam ducimus
                    corrupti minima voluptatem sed illo quam, nisi quidem quaerat nulla amet atque, temporibus magni
                    blanditiis. Eveniet doloribus veritatis odit a adipisci! Dolor molestiae enim praesentium nihil
                    minima voluptatibus labore aspernatur fugit doloremque odio doloribus, commodi qui eos temporibus
                    maxime mollitia repellendus! Labore quis fugit eius eligendi quisquam. Dolorum harum nemo saepe
                    ullam excepturi vitae velit porro voluptas, nesciunt consequuntur repellendus facere laborum
                    doloremque minus iusto, iste iure sint numquam ut ex esse veritatis! Debitis officia labore dolores
                    voluptas eaque laborum velit quas ipsam repellat maxime cum, neque placeat blanditiis ducimus,
                    dolore quae! Tempore explicabo incidunt repellat, ab quo laudantium debitis quibusdam ea libero ipsa
                    dignissimos, soluta error vero. Earum quam ab a doloribus et quasi repellendus! Voluptatibus
                    expedita veritatis deserunt qui recusandae laudantium pariatur, ab modi cumque fugiat quisquam
                    veniam excepturi, quae nostrum eum explicabo eaque magni. Harum numquam culpa voluptatum incidunt
                    magni eius laudantium optio esse facere, dolores maiores, deserunt veritatis sit cumque, officiis
                    rem? Iure nihil cupiditate neque sint, laborum hic dicta sapiente necessitatibus molestiae vel
                    repudiandae. Corrupti nostrum culpa accusantium error, sequi officia, aut vitae dignissimos ipsum
                    eaque ratione perferendis dolore, et eligendi. Consectetur quae eum reiciendis repudiandae minus, ex
                    omnis labore aperiam illo temporibus! Laudantium, recusandae doloremque voluptas repellat nam
                    voluptatum dolores illum inventore eveniet mollitia, tempora repudiandae? Dolor blanditiis
                    repellendus tempora unde fugiat deserunt dolorem ipsa harum assumenda fugit in temporibus excepturi,
                    porro, doloribus cupiditate sed eaque ipsam quo magnam facilis perspiciatis molestias consequatur
                    numquam voluptatum. Dolorem, unde debitis. Et, non consectetur at doloremque aut placeat quia
                    dolorem reprehenderit odit ipsum sed quidem autem iusto? Cupiditate doloribus, sint, debitis ipsum
                    architecto aspernatur quam cum voluptate consequatur minus accusantium commodi optio, aut numquam
                    veritatis rerum ad enim vel quibusdam impedit nobis quasi. Nisi, quia minima assumenda quam quaerat
                    repellendus porro. Temporibus aperiam veniam rem, provident mollitia molestias voluptatem. Quibusdam
                    architecto excepturi tenetur nobis nam odit, obcaecati dolorum, quia reiciendis cumque, aut eius?
                    Voluptatibus hic officia quisquam repellendus, excepturi sequi tempora ab, asperiores voluptate eum
                    perferendis blanditiis, dolores temporibus.
                </p>
            </div>
        </div>
    </div>
</div>