<div class="content">
  <div class="about-section">
    <div class="about-section__image">
      <img src="assets/img/common/marker.svg" alt="logo__image" class="section-about__logo">
    </div>
    <div class="about-section__main">
      <h2 class="about-section__title">About us</h2>
      <p class="about-section__text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. In natus, asperiores dolorum nostrum deserunt rem
        doloribus provident nemo. Iure, voluptas voluptatibus provident, accusamus quaerat ipsa omnis unde nam amet
        error enim eius harum facilis? Cupiditate sed voluptates ducimus omnis laboriosam. Temporibus dolores, aut minus
        magnam delectus error repellendus asperiores veniam porro earum dolor voluptatem, a non sunt quidem. Repellat
        maiores laboriosam corrupti cumque odit suscipit esse excepturi, explicabo nam architecto aspernatur sunt?
        Veritatis provident beatae error deserunt necessitatibus, eaque impedit repellendus nulla rerum reiciendis odio
        aliquid sapiente voluptatem maiores neque similique, saepe molestias adipisci dolorem nihil autem! Voluptas,
        possimus beatae? Est deleniti rem maiores rerum obcaecati voluptatibus corporis illum explicabo, assumenda cum
        libero repellat, et repudiandae magni nemo? Perspiciatis delectus dolorem minima excepturi, doloremque incidunt
        voluptates vitae, facilis placeat, beatae blanditiis reprehenderit velit et quae asperiores? Quas quasi at
        officia aspernatur obcaecati laborum adipisci culpa voluptas, laudantium magni alias tenetur.
      </p>
      <hr>
      <div class="about-section__rating">
        <mat-icon>star</mat-icon>
        <mat-icon>star</mat-icon>
        <mat-icon>star</mat-icon>
        <mat-icon>star</mat-icon>
        <mat-icon>star_half</mat-icon>
      </div>
      <div class="about-section__review">
        <h3>"Best pizza in Melbourne"</h3>
        <p>A place with great atmosphere and even greater pizza. The pizza base is thin and the toppings are very rich.
          All of the pizzas made here are fresh so be patient as there is a decent wait time.

          The calamari is also expertly made, not greasy and very tender. Highly recommended if you're looking for an
          accompaniment to your pizza.</p>
        <h4>John Doe</h4>
      </div>
    </div>


  </div>
</div>